/* common css */
html, body { font-family: sans-serif; font-weight: lighter; }
body { margin: 0; }
a { text-decoration: none; }
h1, h2, h3, h4 { color: #353535; margin: 0; font-weight: lighter; }
h1 { font-size: 9vw; margin: 4vw 0 0.5vw 0; }
h2 { font-size: 7vw; margin: 3vw 0 0.5vw 0; }
h3 { font-size: 5vw; margin: 2vw 0 0.5vw 0; }
h4 { font-size: 3vw; margin: 1vw 0 0.5vw 0; }
p { font-size: 3vw; color: #333; margin: 0; line-height: 1.3; }
input, select { font-size: 5vw; border: solid 0.25vw #ccc }
.row { width: 100%; display: flex; overflow: hidden; box-sizing: border-box; }
.fd-col { flex-direction: column; }
.fbox { display: flex; }
.f1 { flex: 1; } .f2 { flex: 2; } .f3 { flex: 3; }
.fcc { justify-content: center; align-items: center; }
.tab-1 { padding-left: 1.5vw; }
.tab-2 { padding-left: 3vw; }
.button { box-sizing: border-box; padding: 0.5vw 1vw; background: #666; color: #FFF; display: table; }
.button.full { display: block; }
.button.green { background: #32AB6B; }
.button.blue { background: #296DCC; }
.button.red { background: #BF0000; }
.button.yellow { background: #DEBE00; }
.button.orange { background: #F59A01; }
@media (prefers-color-scheme: dark) {
    body { background: #333; }
    h1, h2, h3, h4, p, a { color: #fafafa; }
}